/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-secondary: var(--color-aqua);
  --color-text: var(--color-white);

  /* Background */
  --home-bg-gradient: linear-gradient(180deg, rgba(8, 26, 60, 1) 0%, rgba(5, 10, 19, 1) 100%);
  --home-bg-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='514' height='514' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231B1E26' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23013E43'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  --home-avatar-svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1800" fill="%23FFC03C"><path d="M1386.57 181.4c160.9 73.74 328.5 149.72 424.59 281.57 96.09 129.61 118.44 315.09 98.33 487.16-20.11 172.07-84.92 332.97-187.71 446.94-105.03 116.2-250.29 185.48-391.07 243.58-138.55 60.34-272.63 109.5-393.31 91.62-122.91-17.88-234.64-102.8-377.66-160.9-143.02-58.1-317.33-87.15-406.71-183.24-89.39-96.09-96.09-261.46 2.23-368.72 98.33-109.5 301.68-160.9 384.37-270.4 82.68-111.73 42.46-283.81 84.92-422.36C669.24 188.1 798.86 80.83 937.41 60.72c140.79-20.11 290.51 49.16 449.17 120.67Z"></path></svg>');
  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-aqua: #00adb9;
  --color-gray: #1b1e26;

  /* Font family */
  --font-korea: "Noto Sans KR", sans-serif;

  /* Size */
  --size-max-width: 1200px;

  /* Divider */
  --divider-multi-wave: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z' opacity='0.25'></path><path d='M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z' opacity='0.5' class='shape-fill'></path><path d='M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z'></path></svg>");
  --divider-single-wave: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z'></path> </svg>");
  --divider-curve-wave: url("data:image/svg+xml;utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'> <path d='M0,0V6c0,21.6,291,111.46,741,110.26,445.39,3.6,459-88.3,459-110.26V0Z'></path> </svg>");
  --divider-arrow: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'><path d='M649.97 0L550.03 0 599.91 54.12 649.97 0z'></path> </svg>");
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 1.6rem;
}

h1,
h2,
h3,
p,
ul,
blockquote {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  all: unset;
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid transparent;
}

/* Common */
.section {
  padding: 6.4rem;
  text-align: center;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.title {
  font-size: 4rem;
  margin: 1.6rem 0;
}

.description {
  font-size: 2rem;
  margin: 0.8rem 0;
  font-family: var(--font-korea);
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transition: all 300ms ease;
}

.header--dark {
  background-color: var(--color-primary);
  box-shadow: 0 25px 50px -12px #3b82f620;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__logo__img {
  width: 3.6rem;
  height: 3.6rem;
}

.header__logo__title {
  font-size: 2.4rem;
}

.header__toggle {
  display: none;
  color: var(--color-white);
  font-size: 2.4rem;
  position: absolute;
  top: 2.4rem;
  right: 1.6rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  display: block;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

/* Home */
#home {
  position: relative;
  background-color: var(--color-primary);
  background-image: var(--home-bg-svg);
  color: var(--color-text);
  padding: 8rem 1.6rem;
  padding-top: 11.2rem;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}
#home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 11.8rem;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--color-white);
  mask: var(--divider-multi-wave);
  -webkit-mask: var(--divider-multi-wave);
  animation: waveAnimation 10s linear infinite;
}

@keyframes waveAnimation {
  from {
    transform: translateX(0) rotate(180deg);
  }
  to {
    transform: translateX(-50%) rotate(180deg);
  }
}

.home__container {
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.home__text_wrapper {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.home__text {
  position: absolute;
  font-size: 12vw;
  white-space: nowrap;
  color: var(--color-text);
  transform: translate(-50%, -62%);
  z-index: 4;
}
.home__text:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--color-text);
}
.home__text:nth-child(2) {
  color: var(--color-text);
  animation: textWave 4s ease-in-out infinite;
}
@keyframes textWave {
  0%,
  100% {
    clip-path: polygon(0% 46%, 17% 45%, 34% 50%, 56% 61%, 69% 62%, 86% 60%, 100% 51%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 59%, 16% 64%, 33% 65%, 52% 61%, 70% 52%, 85% 47%, 100% 48%, 100% 100%, 0% 100%);
  }
}
.home__title {
  margin-top: 8rem;
  font-size: 4.8rem;
  font-weight: 300;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__description {
  font-size: 2rem;
}

.home__contact {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-black);
  margin: 3.2rem;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  border-radius: 4px;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

/* About */
.about__wrapper {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-areas:
    "about__profile about__license-study"
    "about__jobs about__license-study";
}
.about__profile,
.about__jobs,
.about__license,
.about__study {
  padding: 2.5rem;
}
.about__profile,
.about__jobs {
  text-align: right;
}
.about__profile {
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
  grid-area: about__profile;
}
.about__profile-pic img {
  display: block;
  max-width: 100%;
  height: auto;
  min-width: 16rem;
}
.about__license,
.about__study {
  text-align: left;
}
.about__license {
  margin-bottom: 2.5rem;
}

.about__jobs {
  grid-area: about__jobs;
}
.about__license-study {
  grid-area: about__license-study;
}
.subtitle {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  box-shadow: inset 0 -10px 0 #bff7fb;
}

.about__lists,
.study__lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--font-korea);
}
.about__list,
.study__list {
  display: flex;
  gap: 2rem;
}
.study__list br {
  display: none;
}
.about__list span,
.study__list span {
  word-break: keep-all;
}
.study__list span:first-child {
  display: block;
  width: 16rem;
}
.study__list span:last-child {
  width: calc(100% - 16rem);
}
.about__list span:first-child {
  display: block;
}

.about__specs {
  flex-basis: 50%;
  text-align-last: left;
}

.majors {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
}

.major {
  width: calc(100% / 3);
  background-color: var(--color-primary-variant);
  padding: 3.2rem 1.6rem;
  color: var(--color-text);
  border-radius: 1.6rem;
  cursor: default;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.major__icon {
  font-size: 6.4rem;
  margin: 1.6rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.major__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.major:hover .major__icon {
  transform: rotate(-15deg) scale(1.2);
}

.job {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.56rem;
  margin-bottom: 1.6rem;
  font-family: var(--font-korea);
}
.job__logo {
  width: 6em;
}

.job__name {
  color: var(--color-primary);
  word-break: keep-all;
}

.job__period {
  color: var(--color-primary);
  font-size: 1.28rem;
}

/* Skills */
#skills {
  position: relative;
  background-color: var(--color-primary-variant);
  color: var(--color-text);
}
#skills::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 8.7rem;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--color-primary);
  mask: var(--divider-single-wave);
  -webkit-mask: var(--divider-single-wave);
}

.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 3.2rem 4.8rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.skills__title {
  color: var(--color-accent);
  margin: 1.6rem 0;
  font-size: 1.92rem;
}

.skills__lists {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skills__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
}

.skills__img {
  width: 5rem;
}

.skills__coding {
  grid-row: span 2;
  padding: 1.6rem;
  background-color: var(--color-primary);
}

.skills__tools {
  padding: 1.6rem;
}

.skills__etc {
  padding: 1.6rem;
  background-color: var(--color-primary);
  filter: brightness(150%);
}

.bar {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  gap: 0.8rem;
}

.bar__metadata {
  display: flex;
  justify-content: space-between;
}

.bar__bg {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-variant);
}

.bar__value {
  height: 6px;
  background-color: var(--color-accent);
  filter: drop-shadow(0 0 6px #eee);
  transition: width 2s ease-in-out;
  border-radius: 2rem;
}

.bar__description {
  text-align: left;
  font-size: 1.5rem;
  font-family: var(--font-korea);
  opacity: 0.8;
}

/* Work */
#work {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text);
}

#work::after {
  content: "";
  position: absolute;
  bottom: -5.3rem;
  left: 0;
  width: calc(100% + 1.3px);
  height: 5.5rem;
  overflow: hidden;
  line-height: 0;
  background-color: var(--color-primary);
  mask: var(--divider-curve-wave);
  -webkit-mask: var(--divider-curve-wave);
}

.categories {
  display: flex;
  justify-content: center;
  margin: 4rem;
  gap: 1.6rem;
}

.category {
  position: relative;
  color: var(--color-text);
  font-size: 1.76rem;
  padding: 0.8rem 4.8rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  white-space: nowrap;
}

.category--selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.category-count {
  opacity: 0;
  position: absolute;
  top: -2rem;
  right: 1.6rem;
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 100%;
  background-color: var(--color-accent-variant);
  color: var(--color-text);
  transition: all 250ms ease-in;
}

.category--selected .category-count,
.category:hover .category-count {
  opacity: 1;
  top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.6rem;
  transition: all 250ms ease-out;
}
.projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(20px);
}

.project {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.project__img {
  width: 100%;
}

.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
  transform: translateY(-10px);
}

.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__title::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  width: 50px;
  height: 2px;
  background-color: var(--color-accent);
}

/* Design */
#design {
  position: relative;
}
#design::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 8.7rem;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--color-primary-variant);
  mask: var(--divider-single-wave);
  -webkit-mask: var(--divider-single-wave);
}
#design .max-container {
  margin-top: 5.5rem;
}
.box_gallery_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 10rem auto;
}
.box_gallery_row::after {
  content: "";
  display: block;
  clear: both;
}

.gallery__thumbnail {
  position: relative;
  width: fit-content;
  height: 100%;
  border-radius: 1em;
  background-color: var(--color-white);
}

.gallery__thumbnail > a img {
  border-radius: 1em;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 30px 80px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.gallery__thumbnail:hover > a > img {
  opacity: 0.15;
}

.gallery__thumbnail:hover .gallery__thumbnail_content {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.gallery__thumbnail_content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.gallery__thumbnail_content > h3 {
  position: relative;
  margin-bottom: 0.4em;
  font-weight: 700;
  color: var(--color-secondary);
  text-transform: uppercase;
}
.gallery__thumbnail_content > h3::after {
  position: absolute;
  left: 50%;

  transform: translate(-50%, 0.5rem);
  display: block;
  width: 5rem;
  height: 1.5px;
  background-color: var(--color-black);
  content: "";
}

.gallery__thumbnail_content > p {
  line-height: 1.4;
}
/* 오버레이 */
#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
#overlay > .container {
  width: 76rem;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.gallery__big_photo {
  width: 100%;
  height: 100%;
  max-width: 76rem;
  min-width: 30rem;
}
.close {
  position: absolute;
  right: 1.4rem;
  top: 11%;
  background: transparent;
  color: var(--color-dark-grey);
  font-size: 4.8rem;
  z-index: 200;
  transition: all 150ms ease-in;
  cursor: pointer;
}
.close:hover {
  cursor: pointer;
  color: var(--color-secondary);
}
.close:active {
  outline: none;
}

/* Testimonial */
#testimonial {
  background-color: var(--color-primary-variant);
  background-image: var(--home-bg-svg);
  color: var(--color-text);
}
.slider {
  position: relative;
  width: min(900px, 90%);
  margin: 6rem auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  transition: all 0.5s ease-in-out;
}
.slide__buttons {
  position: absolute;
  left: 71%;
  bottom: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4rem;
  border-radius: 5rem;
  background-color: var(--color-text);
  box-shadow: 0px 4px 10px 0px rgba(3, 232, 249, 0.5);
  z-index: 2;
}

.prev,
.next {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  transition: all 0.2s ease-out;
}
.prev {
  left: 0;
  background-image: url("./../images/arrow-left.svg");
}
.next {
  right: 0;
  background-image: url("./../images/arrow-right.svg");
}
.prev:focus,
.next:focus {
  outline: 0;
}

.prev:hover,
.next:hover {
  transform: scale(1.25);
  opacity: 1;
}
.slide__bubble {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.slide__bubble.active {
  display: flex;
  position: relative;
}
.slide__wrapper_header {
  display: flex;
  gap: 8px;
  font-weight: 600;
  padding: 15px 20px 10px;
  font-size: 1.2rem;
}

.btns {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.btn i {
  font-size: 0.8rem;
}
.btn.red {
  background-color: rgb(255, 96, 92);
}
.btn.yellow {
  background-color: rgb(255, 189, 68);
}
.btn.yellow i {
  transform: translateY(-3px);
}
.btn.green {
  background-color: rgb(0, 202, 78);
}

.testimonial {
  width: 92rem;
  padding: 3.2rem 0 3.2rem 8rem;
  background-size: 8rem;
  background-position: 19% -7%;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-quotes.svg);
}
.testimonial__talk {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3.6rem;
  word-break: keep-all;
  font-family: var(--font-korea);
}
.author {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-korea);
}
.author-depart {
  display: contents;
  color: #babacf;
  font-weight: 500;
}

.person {
  width: 100%;
  padding: 3rem;
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-bg.svg);
}

.person img {
  display: block;
}

/* Arrow up */
.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 4.8rem;
  right: 4.8rem;
  font-size: 4.8rem;
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 5px 5px 0px 0px var(--color-accent);
  transition: opacity 300ms ease-in;
  z-index: 100;
  opacity: 0.7;
}
.arrow-up:hover {
  opacity: 1;
}
/* Footer */
#contact {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text);
}
#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 6.5rem;
  overflow: hidden;
  line-height: 0;
  background-color: var(--color-primary-variant);
  mask: var(--divider-arrow);
  -webkit-mask: var(--divider-arrow);
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding: 1.6rem;
  font-size: 3.2rem;
}

.contact__link {
  cursor: pointer;
  transition: all 250ms ease-in;
}
.notion-ico .notion {
  display: block;
  width: 3.2rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.2rem;
  background-image: url("./../images/notion.svg");
  transition: all 250ms ease-in;
}

.contact__link:hover {
  color: var(--color-accent);
}
.notion-ico:hover .notion {
  background-image: url("./../images/notion_accent.svg");
}
/* 반응형 : 1200px */
@media screen and (max-width: 1200px) {
  .study__list br {
    display: block;
  }
  .box_gallery_row {
    flex-wrap: wrap;
  }
}
/* 반응형 : 768px */
@media screen and (max-width: 768px) {
  .section {
    padding: 6.4rem 3.2rem;
  }

  .title {
    font-size: 3.2rem;
  }
  .description {
    font-size: 1.6rem;
  }
  .header {
    flex-direction: column;
    align-items: start;
    background-color: var(--color-primary);
  }

  .header__toggle {
    display: block;
    cursor: pointer;
    top: auto;
  }
  .header__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    margin: 1.6rem 6.4rem;
    gap: 1.6rem;
  }

  .header__menu.open {
    display: flex;
  }

  .header__nav {
    width: 100%;
  }

  #home {
    padding-bottom: 4.8rem;
  }

  .home__title {
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
  }
  .about__wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "about__profile"
      "about__license"
      "about__experience"
      "about__jobs";
  }
  .about__profile,
  .abouot__license,
  .about__jobs,
  .about__study {
    text-align: left;
  }
  .about__experience {
    grid-area: about__experience;
  }
  .about__profile {
    justify-content: left;
    align-items: center;
  }
  .about__license {
    grid-area: about__license;
    margin: 0;
  }
  .about__license-study {
    display: contents;
  }

  .subtitle {
    text-align: center;
  }

  .about__list,
  .job {
    justify-content: left;
  }
  .majors {
    flex-direction: column;
    align-items: center;
  }

  .major {
    width: 100%;
  }

  .skills {
    grid-template-columns: 1fr;
    margin: 3.2rem 0;
  }

  .categories {
    flex-direction: column;
  }

  .category {
    width: 100%;
    padding: 0.8rem 0;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  #overlay {
    padding: 1.5rem;
  }
  #overlay > .container {
    width: 100%;
  }
  .box_gallery_row {
    margin: 4rem 0;
    flex-direction: column;
  }

  .slide__bubble {
    flex-direction: column-reverse;
    text-align: center;
  }
  .slide__buttons {
    left: 50%;
    transform: translateX(-50%);
    top: 18rem;
  }
  .testimonial {
    width: 100%;
    padding: 3.2rem 5rem;
    background-size: 60px;
    transform: translateX(0);
    background-position: top;
    background-repeat: no-repeat;
  }

  .person img {
    width: 16.4rem;
  }
  .testimonial__talk {
    font-size: 1.6rem;
  }

  .arrow-up {
    font-size: 3.2rem;
    width: 4.8rem;
    height: 4.8rem;
    bottom: 2.4rem;
    right: 2.4rem;
  }
}
